@model MVCApp.Models.Home.HomeModel
@{
    ViewData["Title"] = "Home";
}

<div>Hello World</div>

<a href="@Url.Action("Action2", "Home", new{ parameter123 = "value value value value value"})">Click Redirect</a>

<div>
    <p>
        @Html.DisplayNameFor(m => m.LabelA)
    </p>

    <p>
        @Html.DisplayFor(m => m.LabelA)
    </p>

</div>
<div>
    <p>
        @Html.DisplayNameFor(m => m.LabelB)
    </p>

    <p>
        @Html.DisplayFor(m => m.LabelB)
    </p>

</div>

<br />

@Html.ActionLink("Formulário", "Index", "Form")

<br />